
    .container {
        background-color:aqua;
        height: 400px;
        border-style: solid;
        border-width:5px;
        display: flex;
        justify-content: space-around;
        align-items:center;
        }
    .box {
        background-color: orange;
        width:100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items:center;
        }
    
    .header {
    background-color:orange;
    height:225;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    }
    
    .title {
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
    text-align: center;
    }
    
    
    .avatar {
        width: 225px;
        height: 225px;
        background-color: black;
        border-radius: 225px;
        background-image: url(".\\assets\\Angulimala.jpg");
    }
    
    .b1 {
    width: 225px;
    height: 225px;
    background-color: orange;
    }
    .b2 {
    width: 225px;
    height: 225px;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items:center;
    }
    
    .b3 {
    width: 225px;
    height: 225px;
    background-color: orange;
    }

    .body{
    background-color:white;
    height:500px;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;}
    
    .bc1{
    background-color:white;
    height:500px;
    display: flex;
    flex-direction: column}

    .boxx {
    width: 225px;
    height: 225px;
    background-color: black;
    }


    .c1{
    background-image: url(".\\assets\\bbd2.jpg");
    margin-right: 20px;
    }
    .c2{
    background-image: url(".\\assets\\bd22.jpg");
    }
    .c3{
    background-image: url(".\\assets\\bd3.jpg");
    }
    .c4{
    background-image: url(".\\assets\\bd444.jpg");
    }
    
    .ct1{
    width: 225px;
    height: 225px;
    background-color: white;}

    
    .t1{
    font-family: "Comic Sans", monospace;
    color: black;
    text-align: center;
    }

    table, td {
        border: 1px solid;
        text-align: center;
        height: 50px;
        vertical-align: bottom;
        padding: 15px;
        background-color: #5d796f;
        color: white;
        
    
    }
    td:hover {background-color: coral;}
    table, th {
        border: 1px solid;
        text-align: center;
        height: 50px;
        vertical-align: bottom;
        padding: 15px;
        background-color: #36443f;
        color: white;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-gap: 10px;
        background-color: #fff;
        color: #444;}
